@page
@model RemoteEduApp.Pages.Student.MainPageModel
@{

}
<div class="container px-5">

    <div class="row row-cols row-cols-md-3 mx-5 gy-5 my-0">
        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                    <div class="card-body">
                        <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                            <h5 class="p-1">
                                ПиАвСУБД
                            </h5>
                        </div>
                        <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                    </div>
                    <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                        <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                    </div>
                </div>
        </div>

        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                        <h5 class="p-1">
                            ПиАвСУБД
                        </h5>
                    </div>
                    <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                </div>
                <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                    <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                </div>
            </div>
        </div>

        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                        <h5 class="p-1">
                            ПиАвСУБД
                        </h5>
                    </div>
                    <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                </div>
                <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                    <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                </div>
            </div>
        </div>

        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                        <h5 class="p-1">
                            ПиАвСУБД
                        </h5>
                    </div>
                    <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                </div>
                <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                    <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                </div>
            </div>
        </div>

        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                        <h5 class="p-1">
                            ПиАвСУБД
                        </h5>
                    </div>
                    <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                </div>
                <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                    <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                </div>
            </div>
        </div>

        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                        <h5 class="p-1">
                            ПиАвСУБД
                        </h5>
                    </div>
                    <img src="images/database.svg" class="card-img-top" alt="..." style="height:80px; width:80px">
                </div>
                <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                    <a href="/Student/Lesson" class="stretched-link">Программирование и администр...</a>
                </div>
            </div>
        </div>




    </div>
</div>