@page
@using RemoteEduApp.Methods
@model RemoteEduApp.Pages.Student.MainPageModel
@{
}

@section Header {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container p-2">
                <div>
                    <a href="@string.Concat("/", User.FindFirst("Role").Value, "/MainPage")"><img class="img-fluid" src="/images/logoBlue.png" style="height: 50px;" /></a>
                </div>
                <div class="p-2 wl-100-md"> </div>
                <div>
                    <a href="/Student/Profile?id=@User.FindFirst("Id").Value"><img src="/images/CatAva.jpg" style="border-radius: 50%; height: 60px; width: 60px" /></a>
                </div>
            </div>
        </nav>
    </header>
}

<div class="container px-5">

    <div class="row row-cols row-cols-md-3 mx-xl-5 gy-5 my-0">

        @foreach(var course in Model.CoursesList){
        <div class="col d-flex  justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                    <div class="card-body">
                        <div class="bg-secondary bg-opacity-10 text-black card-title rounded">
                            <h5 class="p-1">
                                @course.SubjectShortName
                            </h5>
                        </div>
                        <img src="@course.Icon" class="card-img-top" alt="..." style="height:80px; width:80px">
                    </div>
                    <div class="card-footer  text-body-secondary" style="font-size:small; color:gray">
                        <a href="/Student/Course?course=@course.Id" class="stretched-link">@course.SubjectName.Truncate(32)</a>
                    </div>
                </div>
        </div>
        }

    </div>
</div>