@page
@model RemoteEduApp.Pages.Student.ProfileModel
@{
}

@section Header {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container p-2">
                <div>
                    <a href="@string.Concat("/", User.FindFirst("Role").Value, "/MainPage")"><img class="img-fluid" src="/images/logoBlue.png" style="height: 50px;" /></a>
                </div>
                <div class="p-2 wl-100-md"> </div>
                <div>
                </div>
            </div>
        </nav>
    </header>
}
<div class="container px-5 d-flex justify-content-center mt-5 mx-xl-5">
    <div class="card text-center rounded shadow-sm" style="width: 26rem;">
        <div class="card-body">
            <div class="card-title">
                <h4 class="pt-1" style="color:blue;">
                    Студент
                </h4>
            </div>
            <img src="~/images/CatAva.jpg" class="img-fluid my-3" alt="..." style="border-radius: 50%; height:140px; width:140px">
            <h4 class="p-1" style="color:black;">
                @Model.StudentProfile.FullName
            </h4>
            <p class="my-1">
                Почта: @Model.StudentProfile.Mail
            </p>
            <p class="mb-4">
                Группа: @Model.StudentProfile.Group
            </p>

            <div class="row justify-content-between">
                <div class="col-4 m-4">
                    <button type="button" class="btn btn-secondary" title="Назад" onclick="window.history.back()"><img src="~/images/back.svg" style="height:30px; width:46px" /></button>
                </div>
                <div class="col-4 m-4">
                    <button type="button" class="btn btn-danger" title="Выйти из аккаунта"><img src="~/images//logout.svg" style="height:30px; width:46px" /></button>
                </div>
            </div>
        </div>
    </div>
</div>